--- 
layout: "wrapper"

---

<!-- Header -->

<div class="=w3-container w3-center">
    
    <div class="w3-card w3-container conBackground " style="min-height:300px; margin-top:-1%;">

    <div class="w3-card w3-container"> 

        
    <h1 style="color:white;margin-top:10%;font-size:70px" >Ken/Botengu's Portfolio</h1>
    </div>

    <div class="w3-card w3-container"> 
    <i style="color:white;font-size:30px; margin-top:30%;" >"A gem cannot be polished without friction, nor a man perfected without trials. "-</i>
    </div>

	</div>
</div>